<footer>
    <a class="copyright" href="https://youtu.be/_u27Phrn32w?t=48" target="_blank">Richi Copyright</a>
    <div class="social">
        <a href="https://www.facebook.com/ricardo.prietomallqui" target="_blank"><i class="fab fa-facebook-square"></i></i></a>
        <a href="https://twitter.com/ricardoprieto25" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/luis.ricardo.p/" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </div> 
</footer>


<script src="/script/main.js"></script>